
*, ::before, ::after{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}
::backdrop{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}
.container{
  width: 100%;
}
@media (min-width: 640px){
  .container{
    max-width: 640px;
  }
}
@media (min-width: 768px){
  .container{
    max-width: 768px;
  }
}
@media (min-width: 1024px){
  .container{
    max-width: 1024px;
  }
}
@media (min-width: 1280px){
  .container{
    max-width: 1280px;
  }
}
@media (min-width: 1536px){
  .container{
    max-width: 1536px;
  }
}
.aspect-h-1{
  --tw-aspect-h: 1;
}
.aspect-h-3{
  --tw-aspect-h: 3;
}
.aspect-h-9{
  --tw-aspect-h: 9;
}
.aspect-w-1{
  position: relative;
  padding-bottom: calc(var(--tw-aspect-h) / var(--tw-aspect-w) * 100%);
  --tw-aspect-w: 1;
}
.aspect-w-1 > *{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.aspect-w-16{
  position: relative;
  padding-bottom: calc(var(--tw-aspect-h) / var(--tw-aspect-w) * 100%);
  --tw-aspect-w: 16;
}
.aspect-w-16 > *{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.aspect-w-4{
  position: relative;
  padding-bottom: calc(var(--tw-aspect-h) / var(--tw-aspect-w) * 100%);
  --tw-aspect-w: 4;
}
.aspect-w-4 > *{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.form-input,.form-textarea,.form-select,.form-multiselect{
  appearance: none;
  background-color: #fff;
  border-color: rgb(var(--colors-gray-500));
  border-width: 1px;
  border-radius: 0px;
  padding-top: 0.5rem;
  padding-right: 0.75rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-shadow: 0 0 #0000;
}
.form-input:focus, .form-textarea:focus, .form-select:focus, .form-multiselect:focus{
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #2563eb;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  border-color: #2563eb;
}
.form-input::placeholder,.form-textarea::placeholder{
  color: rgb(var(--colors-gray-500));
  opacity: 1;
}
.form-input::-webkit-datetime-edit-fields-wrapper{
  padding: 0;
}
.form-input::-webkit-date-and-time-value{
  min-height: 1.5em;
}
.form-input::-webkit-datetime-edit,.form-input::-webkit-datetime-edit-year-field,.form-input::-webkit-datetime-edit-month-field,.form-input::-webkit-datetime-edit-day-field,.form-input::-webkit-datetime-edit-hour-field,.form-input::-webkit-datetime-edit-minute-field,.form-input::-webkit-datetime-edit-second-field,.form-input::-webkit-datetime-edit-millisecond-field,.form-input::-webkit-datetime-edit-meridiem-field{
  padding-top: 0;
  padding-bottom: 0;
}
.sr-only{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.pointer-events-none{
  pointer-events: none;
}
.visible{
  visibility: visible;
}
.invisible{
  visibility: hidden;
}
.static{
  position: static;
}
.fixed{
  position: fixed;
}
.absolute{
  position: absolute;
}
.relative{
  position: relative;
}
.sticky{
  position: sticky;
}
.inset-0{
  inset: 0px;
}
.inset-x-0{
  left: 0px;
  right: 0px;
}
.bottom-0{
  bottom: 0px;
}
.bottom-1{
  bottom: 0.25rem;
}
.bottom-10{
  bottom: 2.5rem;
}
.left-0{
  left: 0px;
}
.left-5{
  left: 1.25rem;
}
.right-0{
  right: 0px;
}
.right-1{
  right: 0.25rem;
}
.right-10{
  right: 2.5rem;
}
.right-2{
  right: 0.5rem;
}
.right-5{
  right: 1.25rem;
}
.top-0{
  top: 0px;
}
.top-14{
  top: 3.5rem;
}
.top-2{
  top: 0.5rem;
}
.top-5{
  top: 1.25rem;
}
.z-10{
  z-index: 10;
}
.z-20{
  z-index: 20;
}
.z-30{
  z-index: 30;
}
.z-40{
  z-index: 40;
}
.z-50{
  z-index: 50;
}
.order-1{
  order: 1;
}
.order-2{
  order: 2;
}
.order-3{
  order: 3;
}
.col-span-12{
  grid-column: span 12 / span 12;
}
.col-span-2{
  grid-column: span 2 / span 2;
}
.col-span-6{
  grid-column: span 6 / span 6;
}
.col-span-8{
  grid-column: span 8 / span 8;
}
.float-right{
  float: right;
}
.float-left{
  float: left;
}
.\!m-0{
  margin: 0px !important;
}
.m-0{
  margin: 0px;
}
.m-2{
  margin: 0.5rem;
}
.-mx-2{
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}
.-mx-5{
  margin-left: -1.25rem;
  margin-right: -1.25rem;
}
.mx-2{
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.mx-4{
  margin-left: 1rem;
  margin-right: 1rem;
}
.mx-auto{
  margin-left: auto;
  margin-right: auto;
}
.my-10{
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
.my-20{
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.my-4{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.my-5{
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}
.\!mb-0{
  margin-bottom: 0px !important;
}
.\!mb-10{
  margin-bottom: 2.5rem !important;
}
.\!mb-2{
  margin-bottom: 0.5rem !important;
}
.\!mb-3{
  margin-bottom: 0.75rem !important;
}
.\!mb-5{
  margin-bottom: 1.25rem !important;
}
.mb-0{
  margin-bottom: 0px;
}
.mb-1{
  margin-bottom: 0.25rem;
}
.mb-10{
  margin-bottom: 2.5rem;
}
.mb-12{
  margin-bottom: 3rem;
}
.mb-16{
  margin-bottom: 4rem;
}
.mb-2{
  margin-bottom: 0.5rem;
}
.mb-20{
  margin-bottom: 5rem;
}
.mb-3{
  margin-bottom: 0.75rem;
}
.mb-4{
  margin-bottom: 1rem;
}
.mb-5{
  margin-bottom: 1.25rem;
}
.ml-10{
  margin-left: 2.5rem;
}
.ml-2{
  margin-left: 0.5rem;
}
.ml-6{
  margin-left: 1.5rem;
}
.mr-2{
  margin-right: 0.5rem;
}
.mr-5{
  margin-right: 1.25rem;
}
.mr-6{
  margin-right: 1.5rem;
}
.mt-0{
  margin-top: 0px;
}
.mt-10{
  margin-top: 2.5rem;
}
.mt-2{
  margin-top: 0.5rem;
}
.mt-20{
  margin-top: 5rem;
}
.mt-36{
  margin-top: 9rem;
}
.mt-4{
  margin-top: 1rem;
}
.mt-5{
  margin-top: 1.25rem;
}
.mt-6{
  margin-top: 1.5rem;
}
.mt-8{
  margin-top: 2rem;
}
.mt-auto{
  margin-top: auto;
}
.line-clamp-3{
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.line-clamp-5{
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}
.block{
  display: block;
}
.inline-block{
  display: inline-block;
}
.inline{
  display: inline;
}
.flex{
  display: flex;
}
.inline-flex{
  display: inline-flex;
}
.table{
  display: table;
}
.grid{
  display: grid;
}
.contents{
  display: contents;
}
.hidden{
  display: none;
}
.\!h-auto{
  height: auto !important;
}
.h-10{
  height: 2.5rem;
}
.h-12{
  height: 3rem;
}
.h-14{
  height: 3.5rem;
}
.h-16{
  height: 4rem;
}
.h-2{
  height: 0.5rem;
}
.h-20{
  height: 5rem;
}
.h-24{
  height: 6rem;
}
.h-3{
  height: 0.75rem;
}
.h-3\/4{
  height: 75%;
}
.h-32{
  height: 8rem;
}
.h-40{
  height: 10rem;
}
.h-5{
  height: 1.25rem;
}
.h-6{
  height: 1.5rem;
}
.h-64{
  height: 16rem;
}
.h-7{
  height: 1.75rem;
}
.h-\[1px\]{
  height: 1px;
}
.h-auto{
  height: auto;
}
.h-full{
  height: 100%;
}
.max-h-28{
  max-height: 7rem;
}
.max-h-32{
  max-height: 8rem;
}
.max-h-\[12rem\]{
  max-height: 12rem;
}
.max-h-\[80vh\]{
  max-height: 80vh;
}
.max-h-screen{
  max-height: 100vh;
}
.max-h-screen-80{
  max-height: 80vh;
}
.min-h-32{
  min-height: 8rem;
}
.min-h-\[12rem\]{
  min-height: 12rem;
}
.min-h-screen{
  min-height: 100vh;
}
.\!w-auto{
  width: auto !important;
}
.\!w-full{
  width: 100% !important;
}
.w-10{
  width: 2.5rem;
}
.w-14{
  width: 3.5rem;
}
.w-24{
  width: 6rem;
}
.w-3{
  width: 0.75rem;
}
.w-4\/5{
  width: 80%;
}
.w-40{
  width: 10rem;
}
.w-5{
  width: 1.25rem;
}
.w-6{
  width: 1.5rem;
}
.w-7{
  width: 1.75rem;
}
.w-auto{
  width: auto;
}
.w-full{
  width: 100%;
}
.\!max-w-sm{
  max-width: 24rem !important;
}
.max-w-2xl{
  max-width: 42rem;
}
.max-w-32{
  max-width: 8rem;
}
.max-w-4xl{
  max-width: 56rem;
}
.max-w-5xl{
  max-width: 64rem;
}
.max-w-6xl{
  max-width: 72rem;
}
.max-w-\[12rem\]{
  max-width: 12rem;
}
.max-w-\[18rem\]{
  max-width: 18rem;
}
.max-w-\[80vw\]{
  max-width: 80vw;
}
.max-w-md{
  max-width: 28rem;
}
.max-w-sm{
  max-width: 24rem;
}
.flex-1{
  flex: 1 1 0%;
}
.flex-none{
  flex: none;
}
.flex-shrink-0{
  flex-shrink: 0;
}
.flex-grow{
  flex-grow: 1;
}
.grow{
  flex-grow: 1;
}
.basis-1\/2{
  flex-basis: 50%;
}
.basis-2\/3{
  flex-basis: 66.666667%;
}
.basis-full{
  flex-basis: 100%;
}
.border-collapse{
  border-collapse: collapse;
}
.-translate-x-10{
  --tw-translate-x: -2.5rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.-translate-x-12{
  --tw-translate-x: -3rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.translate-x-0{
  --tw-translate-x: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.translate-x-10{
  --tw-translate-x: 2.5rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.translate-y-5{
  --tw-translate-y: 1.25rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.scale-100{
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.scale-90{
  --tw-scale-x: .9;
  --tw-scale-y: .9;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.transform{
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.cursor-pointer{
  cursor: pointer;
}
.cursor-zoom-in{
  cursor: zoom-in;
}
.cursor-zoom-out{
  cursor: zoom-out;
}
.resize{
  resize: both;
}
.list-none{
  list-style-type: none;
}
.grid-cols-1{
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.grid-cols-12{
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.grid-cols-2{
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.grid-cols-4{
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.grid-cols-5{
  grid-template-columns: repeat(5, minmax(0, 1fr));
}
.flex-row{
  flex-direction: row;
}
.flex-col{
  flex-direction: column;
}
.flex-wrap{
  flex-wrap: wrap;
}
.place-items-center{
  place-items: center;
}
.items-start{
  align-items: flex-start;
}
.items-end{
  align-items: flex-end;
}
.items-center{
  align-items: center;
}
.items-stretch{
  align-items: stretch;
}
.justify-normal{
  justify-content: normal;
}
.justify-start{
  justify-content: flex-start;
}
.justify-end{
  justify-content: flex-end;
}
.justify-center{
  justify-content: center;
}
.justify-between{
  justify-content: space-between;
}
.justify-around{
  justify-content: space-around;
}
.justify-evenly{
  justify-content: space-evenly;
}
.justify-stretch{
  justify-content: stretch;
}
.justify-items-start{
  justify-items: start;
}
.justify-items-end{
  justify-items: end;
}
.justify-items-center{
  justify-items: center;
}
.justify-items-stretch{
  justify-items: stretch;
}
.gap-0{
  gap: 0px;
}
.gap-1{
  gap: 0.25rem;
}
.gap-10{
  gap: 2.5rem;
}
.gap-2{
  gap: 0.5rem;
}
.gap-4{
  gap: 1rem;
}
.gap-5{
  gap: 1.25rem;
}
.gap-6{
  gap: 1.5rem;
}
.gap-8{
  gap: 2rem;
}
.gap-y-20{
  row-gap: 5rem;
}
.space-x-1 > :not([hidden]) ~ :not([hidden]){
  --tw-space-x-reverse: 0;
  margin-right: calc(0.25rem * var(--tw-space-x-reverse));
  margin-left: calc(0.25rem * calc(1 - var(--tw-space-x-reverse)));
}
.space-x-2 > :not([hidden]) ~ :not([hidden]){
  --tw-space-x-reverse: 0;
  margin-right: calc(0.5rem * var(--tw-space-x-reverse));
  margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
}
.space-y-2 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}
.space-y-20 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(5rem * var(--tw-space-y-reverse));
}
.space-y-3 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.75rem * var(--tw-space-y-reverse));
}
.space-y-4 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}
.space-y-5 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(1.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.25rem * var(--tw-space-y-reverse));
}
.divide-x-0 > :not([hidden]) ~ :not([hidden]){
  --tw-divide-x-reverse: 0;
  border-right-width: calc(0px * var(--tw-divide-x-reverse));
  border-left-width: calc(0px * calc(1 - var(--tw-divide-x-reverse)));
}
.divide-y > :not([hidden]) ~ :not([hidden]){
  --tw-divide-y-reverse: 0;
  border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
  border-bottom-width: calc(1px * var(--tw-divide-y-reverse));
}
.divide-gray-300 > :not([hidden]) ~ :not([hidden]){
  --tw-divide-opacity: 1;
  border-color: rgba(var(--colors-gray-300), var(--tw-divide-opacity));
}
.divide-white > :not([hidden]) ~ :not([hidden]){
  --tw-divide-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-divide-opacity));
}
.self-start{
  align-self: flex-start;
}
.self-center{
  align-self: center;
}
.self-stretch{
  align-self: stretch;
}
.justify-self-auto{
  justify-self: auto;
}
.justify-self-start{
  justify-self: start;
}
.justify-self-end{
  justify-self: end;
}
.justify-self-center{
  justify-self: center;
}
.justify-self-stretch{
  justify-self: stretch;
}
.overflow-auto{
  overflow: auto;
}
.overflow-hidden{
  overflow: hidden;
}
.overflow-scroll{
  overflow: scroll;
}
.overflow-y-auto{
  overflow-y: auto;
}
.break-all{
  word-break: break-all;
}
.rounded{
  border-radius: 0.25rem;
}
.rounded-2xl{
  border-radius: 1rem;
}
.rounded-3xl{
  border-radius: 1.5rem;
}
.rounded-full{
  border-radius: 9999px;
}
.rounded-md{
  border-radius: 0.375rem;
}
.rounded-xl{
  border-radius: 0.75rem;
}
.rounded-b-2xl{
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.rounded-b-3xl{
  border-bottom-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}
.rounded-t-3xl{
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}
.rounded-br-3xl{
  border-bottom-right-radius: 1.5rem;
}
.rounded-tl-3xl{
  border-top-left-radius: 1.5rem;
}
.border{
  border-width: 1px;
}
.border-0{
  border-width: 0px;
}
.border-b{
  border-bottom-width: 1px;
}
.border-l-8{
  border-left-width: 8px;
}
.border-r{
  border-right-width: 1px;
}
.border-t{
  border-top-width: 1px;
}
.border-t-2{
  border-top-width: 2px;
}
.border-gray-100{
  --tw-border-opacity: 1;
  border-color: rgba(var(--colors-gray-100), var(--tw-border-opacity));
}
.border-gray-200{
  --tw-border-opacity: 1;
  border-color: rgba(var(--colors-gray-200), var(--tw-border-opacity));
}
.border-gray-300{
  --tw-border-opacity: 1;
  border-color: rgba(var(--colors-gray-300), var(--tw-border-opacity));
}
.border-primary-600{
  --tw-border-opacity: 1;
  border-color: rgba(var(--colors-primary-600), var(--tw-border-opacity));
}
.border-transparent{
  border-color: transparent;
}
.border-b-gray-200{
  --tw-border-opacity: 1;
  border-bottom-color: rgba(var(--colors-gray-200), var(--tw-border-opacity));
}
.\!bg-gray{
  --tw-bg-opacity: 1 !important;
  background-color: rgba(var(--colors-gray), var(--tw-bg-opacity)) !important;
}
.\!bg-gray-200{
  --tw-bg-opacity: 1 !important;
  background-color: rgba(var(--colors-gray-200), var(--tw-bg-opacity)) !important;
}
.bg-black{
  --tw-bg-opacity: 1;
  background-color: rgba(var(--colors-black), var(--tw-bg-opacity));
}
.bg-blue{
  --tw-bg-opacity: 1;
  background-color: rgba(var(--colors-blue), var(--tw-bg-opacity));
}
.bg-cyan{
  --tw-bg-opacity: 1;
  background-color: rgba(var(--colors-cyan), var(--tw-bg-opacity));
}
.bg-default{
  --tw-bg-opacity: 1;
  background-color: rgba(var(--colors), var(--tw-bg-opacity));
}
.bg-gray{
  --tw-bg-opacity: 1;
  background-color: rgba(var(--colors-gray), var(--tw-bg-opacity));
}
.bg-gray-100{
  --tw-bg-opacity: 1;
  background-color: rgba(var(--colors-gray-100), var(--tw-bg-opacity));
}
.bg-gray-200{
  --tw-bg-opacity: 1;
  background-color: rgba(var(--colors-gray-200), var(--tw-bg-opacity));
}
.bg-gray-700{
  --tw-bg-opacity: 1;
  background-color: rgba(var(--colors-gray-700), var(--tw-bg-opacity));
}
.bg-gray-900{
  --tw-bg-opacity: 1;
  background-color: rgba(var(--colors-gray-900), var(--tw-bg-opacity));
}
.bg-green-50{
  --tw-bg-opacity: 1;
  background-color: rgba(var(--colors-green-50), var(--tw-bg-opacity));
}
.bg-green-700{
  --tw-bg-opacity: 1;
  background-color: rgb(21 128 61 / var(--tw-bg-opacity));
}
.bg-neon{
  --tw-bg-opacity: 1;
  background-color: rgba(var(--colors-neon), var(--tw-bg-opacity));
}
.bg-neon-800{
  --tw-bg-opacity: 1;
  background-color: rgba(var(--colors-neon-800), var(--tw-bg-opacity));
}
.bg-paleblue{
  --tw-bg-opacity: 1;
  background-color: rgba(var(--colors-paleblue), var(--tw-bg-opacity));
}
.bg-palecyan{
  --tw-bg-opacity: 1;
  background-color: rgba(var(--colors-palecyan), var(--tw-bg-opacity));
}
.bg-palegreen{
  --tw-bg-opacity: 1;
  background-color: rgba(var(--colors-palegreen), var(--tw-bg-opacity));
}
.bg-palepeach{
  --tw-bg-opacity: 1;
  background-color: rgba(var(--colors-palepeach), var(--tw-bg-opacity));
}
.bg-palepink{
  --tw-bg-opacity: 1;
  background-color: rgba(var(--colors-palepink), var(--tw-bg-opacity));
}
.bg-palepurple{
  --tw-bg-opacity: 1;
  background-color: rgba(var(--colors-palepurple), var(--tw-bg-opacity));
}
.bg-palerose{
  --tw-bg-opacity: 1;
  background-color: rgba(var(--colors-palerose), var(--tw-bg-opacity));
}
.bg-primary{
  --tw-bg-opacity: 1;
  background-color: rgba(var(--colors-primary), var(--tw-bg-opacity));
}
.bg-primary-100{
  --tw-bg-opacity: 1;
  background-color: rgba(var(--colors-primary-100), var(--tw-bg-opacity));
}
.bg-primary-50{
  --tw-bg-opacity: 1;
  background-color: rgba(var(--colors-primary-50), var(--tw-bg-opacity));
}
.bg-primary-600{
  --tw-bg-opacity: 1;
  background-color: rgba(var(--colors-primary-600), var(--tw-bg-opacity));
}
.bg-red{
  --tw-bg-opacity: 1;
  background-color: rgba(var(--colors-red), var(--tw-bg-opacity));
}
.bg-red-100{
  --tw-bg-opacity: 1;
  background-color: rgba(var(--colors-red-100), var(--tw-bg-opacity));
}
.bg-red-50{
  --tw-bg-opacity: 1;
  background-color: rgba(var(--colors-red-50), var(--tw-bg-opacity));
}
.bg-white{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.bg-white\/30{
  background-color: rgb(255 255 255 / 0.3);
}
.bg-opacity-50{
  --tw-bg-opacity: 0.5;
}
.bg-opacity-75{
  --tw-bg-opacity: 0.75;
}
.bg-contain{
  background-size: contain;
}
.bg-no-repeat{
  background-repeat: no-repeat;
}
.object-contain{
  object-fit: contain;
}
.object-cover{
  object-fit: cover;
}
.p-0{
  padding: 0px;
}
.p-1{
  padding: 0.25rem;
}
.p-10{
  padding: 2.5rem;
}
.p-12{
  padding: 3rem;
}
.p-2{
  padding: 0.5rem;
}
.p-3{
  padding: 0.75rem;
}
.p-4{
  padding: 1rem;
}
.p-5{
  padding: 1.25rem;
}
.px-10{
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.px-2{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.px-3{
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.px-5{
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.py-1{
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.py-10{
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.py-12{
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.py-2{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.py-20{
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.py-3{
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.py-4{
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.py-5{
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
.py-6{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.py-8{
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.pb-10{
  padding-bottom: 2.5rem;
}
.pb-2{
  padding-bottom: 0.5rem;
}
.pb-5{
  padding-bottom: 1.25rem;
}
.pl-12{
  padding-left: 3rem;
}
.pl-6{
  padding-left: 1.5rem;
}
.pr-10{
  padding-right: 2.5rem;
}
.pr-5{
  padding-right: 1.25rem;
}
.pt-0{
  padding-top: 0px;
}
.pt-10{
  padding-top: 2.5rem;
}
.pt-12{
  padding-top: 3rem;
}
.pt-5{
  padding-top: 1.25rem;
}
.pt-8{
  padding-top: 2rem;
}
.text-left{
  text-align: left;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.align-middle{
  vertical-align: middle;
}
.font-alt{
  font-family: Montserrat, sans-serif;
}
.font-sans{
  font-family: Roboto, sans-serif;
}
.\!text-2xl{
  font-size: 1.5rem !important;
}
.text-2xl{
  font-size: 1.5rem;
}
.text-3xl{
  font-size: 2rem;
}
.text-base{
  font-size: 1rem;
}
.text-lg{
  font-size: 1.125rem;
}
.text-sm{
  font-size: 0.875rem;
}
.text-xl{
  font-size: 1.25rem;
}
.text-xs{
  font-size: 0.75rem;
}
.font-bold{
  font-weight: 700;
}
.font-medium{
  font-weight: 400;
}
.font-normal{
  font-weight: 300;
}
.uppercase{
  text-transform: uppercase;
}
.italic{
  font-style: italic;
}
.not-italic{
  font-style: normal;
}
.leading-none{
  line-height: 1;
}
.leading-tight{
  line-height: 1.25;
}
.\!text-black{
  --tw-text-opacity: 1 !important;
  color: rgba(var(--colors-black), var(--tw-text-opacity)) !important;
}
.text-black{
  --tw-text-opacity: 1;
  color: rgba(var(--colors-black), var(--tw-text-opacity));
}
.text-gray{
  --tw-text-opacity: 1;
  color: rgba(var(--colors-gray), var(--tw-text-opacity));
}
.text-gray-400{
  --tw-text-opacity: 1;
  color: rgba(var(--colors-gray-400), var(--tw-text-opacity));
}
.text-gray-500{
  --tw-text-opacity: 1;
  color: rgba(var(--colors-gray-500), var(--tw-text-opacity));
}
.text-gray-600{
  --tw-text-opacity: 1;
  color: rgba(var(--colors-gray-600), var(--tw-text-opacity));
}
.text-gray-700{
  --tw-text-opacity: 1;
  color: rgba(var(--colors-gray-700), var(--tw-text-opacity));
}
.text-green-50{
  --tw-text-opacity: 1;
  color: rgba(var(--colors-green-50), var(--tw-text-opacity));
}
.text-green-700{
  --tw-text-opacity: 1;
  color: rgb(21 128 61 / var(--tw-text-opacity));
}
.text-inherit{
  color: inherit;
}
.text-neon{
  --tw-text-opacity: 1;
  color: rgba(var(--colors-neon), var(--tw-text-opacity));
}
.text-neon-800{
  --tw-text-opacity: 1;
  color: rgba(var(--colors-neon-800), var(--tw-text-opacity));
}
.text-primary{
  --tw-text-opacity: 1;
  color: rgba(var(--colors-primary), var(--tw-text-opacity));
}
.text-primary-50{
  --tw-text-opacity: 1;
  color: rgba(var(--colors-primary-50), var(--tw-text-opacity));
}
.text-primary-600{
  --tw-text-opacity: 1;
  color: rgba(var(--colors-primary-600), var(--tw-text-opacity));
}
.text-red{
  --tw-text-opacity: 1;
  color: rgba(var(--colors-red), var(--tw-text-opacity));
}
.text-red-50{
  --tw-text-opacity: 1;
  color: rgba(var(--colors-red-50), var(--tw-text-opacity));
}
.text-red-500{
  --tw-text-opacity: 1;
  color: rgba(var(--colors-red-500), var(--tw-text-opacity));
}
.text-white{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.underline{
  text-decoration-line: underline;
}
.\!no-underline{
  text-decoration-line: none !important;
}
.no-underline{
  text-decoration-line: none;
}
.decoration-black{
  text-decoration-color: rgb(var(--colors-black));
}
.decoration-1{
  text-decoration-thickness: 1px;
}
.underline-offset-2{
  text-underline-offset: 2px;
}
.opacity-0{
  opacity: 0;
}
.opacity-100{
  opacity: 1;
}
.opacity-30{
  opacity: 0.3;
}
.mix-blend-multiply{
  mix-blend-mode: multiply;
}
.shadow-lg{
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.shadow-navbar{
  --tw-shadow: 0 8px 30px rgb(0,0,0,0.12);;
  --tw-shadow-colored: 0 8px 30px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.drop-shadow-xl{
  --tw-drop-shadow: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.grayscale{
  --tw-grayscale: grayscale(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.filter{
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.backdrop-blur-md{
  --tw-backdrop-blur: blur(12px);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}
.transition{
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.transition-all{
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.duration-300{
  transition-duration: 300ms;
}
.duration-500{
  transition-duration: 500ms;
}
.ease-in{
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}
.ease-in-out{
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.ease-out{
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
.\@container{
  container-type: inline-size;
}
/* UI Basic components */
html[data-theme] *:focus:focus{
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(4px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
  --tw-ring-opacity: 1;
  --tw-ring-color: rgba(var(--colors-primary-300), var(--tw-ring-opacity));
}

.badge-primary{
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgba(var(--colors-primary), var(--tw-bg-opacity));
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 0.75rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.badge-secondary{
  border-radius: 9999px;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgba(var(--colors-primary), var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(var(--colors-secondary), var(--tw-bg-opacity));
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 0.75rem;
  --tw-text-opacity: 1;
  color: rgba(var(--colors-black), var(--tw-text-opacity));
}

.btn{
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  border-radius: 0.375rem;
  border-width: 1px;
  border-color: transparent;
  --tw-bg-opacity: 1;
  background-color: rgba(var(--colors-primary), var(--tw-bg-opacity));
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-family: Roboto, sans-serif;
  font-size: 1.25rem;
  font-weight: 320;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover{
  --tw-bg-opacity: 1;
  background-color: rgba(var(--colors-primary-900), var(--tw-bg-opacity));
}

.btn-xs{
  padding-left: 0.375rem;
  padding-right: 0.375rem;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  font-size: 0.875rem;
}

.btn-sm{
  padding-left: 0.375rem;
  padding-right: 0.375rem;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  font-size: 1rem;
}

@media (min-width: 1024px){
  .btn-sm{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    font-size: 1.125rem;
  }
}

.btn-base{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  font-size: 1.125rem;
}

@media (min-width: 1024px){
  .btn-base{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 1.25rem;
  }
}

.btn-lg{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 1.25rem;
}

@media (min-width: 1024px){
  .btn-lg{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 1.5rem;
  }
}

.btn-xl{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 1.5rem;
}

@media (min-width: 1024px){
  .btn-xl{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 2rem;
  }
}

.btn-hollow{
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgba(var(--colors-primary), var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(var(--colors-primary), var(--tw-text-opacity));
}

.btn-hollow:hover{
  --tw-border-opacity: 1;
  border-color: rgba(var(--colors-primary-800), var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(var(--colors-primary-800), var(--tw-text-opacity));
}

.btn-ghost{
  border-style: none;
  background-color: transparent;
  --tw-text-opacity: 1;
  color: rgba(var(--colors-primary), var(--tw-text-opacity));
}

.btn-ghost:hover{
  background-color: transparent;
  --tw-text-opacity: 1;
  color: rgba(var(--colors-primary-800), var(--tw-text-opacity));
}

.btn-default{
  --tw-bg-opacity: 1;
  background-color: rgba(var(--colors), var(--tw-bg-opacity));
}

.btn-black{
  --tw-bg-opacity: 1;
  background-color: rgba(var(--colors-black), var(--tw-bg-opacity));
}

.btn-gray-700{
  --tw-bg-opacity: 1;
  background-color: rgba(var(--colors-gray-700), var(--tw-bg-opacity));
}

.btn-red{
  --tw-bg-opacity: 1;
  background-color: rgba(var(--colors-red), var(--tw-bg-opacity));
}

.btn-green-700{
  --tw-bg-opacity: 1;
  background-color: rgb(21 128 61 / var(--tw-bg-opacity));
}

.btn-neon-800{
  --tw-bg-opacity: 1;
  background-color: rgba(var(--colors-neon-800), var(--tw-bg-opacity));
}

.btn-primary{
  --tw-bg-opacity: 1;
  background-color: rgba(var(--colors-primary), var(--tw-bg-opacity));
}
.btn-primary.btn-hollow{
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgba(var(--colors-primary), var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(var(--colors-primary), var(--tw-text-opacity));
}
.btn-primary.btn-hollow:hover{
  --tw-border-opacity: 1;
  border-color: rgba(var(--colors-primary-900), var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(var(--colors-primary-900), var(--tw-text-opacity));
}

.btn-secondary{
  --tw-bg-opacity: 1;
  background-color: rgba(var(--colors-secondary), var(--tw-bg-opacity));
}
.btn-secondary.btn-hollow{
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgba(var(--colors-secondary), var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(var(--colors-secondary), var(--tw-text-opacity));
}
.btn-secondary.btn-hollow:hover{
  --tw-border-opacity: 1;
  border-color: rgba(var(--colors-secondary-900), var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(var(--colors-secondary-900), var(--tw-text-opacity));
}

.btn-spenden{
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgba(var(--colors-red), var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(var(--colors-red), var(--tw-text-opacity));
}

.btn-spenden:hover{
  --tw-border-opacity: 1;
  border-color: rgba(var(--colors-red), var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(var(--colors-red), var(--tw-text-opacity));
}

.btn-icon-only{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  padding: 0.25rem;
}
.btn-icon-only svg{
  height: auto;
}
.btn-icon-only.btn{
  height: 2.5rem;
  width: 2.5rem;
}
.btn-icon-left{
  display: inline-flex;
  width: auto;
  align-items: center;
  gap: 0.25rem;
}
.btn-icon-left svg{
  height: 100%;
  width: 100%;
}
.btn-expanded{
  width: 100%;
}

@media (min-width: 640px){
  .btn-group{
    display: flex;
    gap: 1.25rem;
  }
}
.btn-group .btn{
  margin-bottom: 0.5rem;
  width: 100%;
}
@media (min-width: 640px){
  .btn-group .btn{
    width: auto;
  }
}

.text-hover-effect:hover h1,
.text-hover-effect:hover h2,
.text-hover-effect:hover h3,
.text-hover-effect:hover h4,
.text-hover-effect:hover h5,
.text-hover-effect:hover p{
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.image-hover-effect:hover{
  position: relative;
}
.image-hover-effect:hover .aspect-w-16.aspect-h-9{
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}
.image-hover-effect:hover .aspect-w-16.aspect-h-9::after{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to top, var(--tw-gradient-stops));
  --tw-gradient-from: #fff var(--tw-gradient-from-position);
  --tw-gradient-from-position:  ;
  --tw-gradient-to: rgb(255 255 255 / 0)  var(--tw-gradient-from-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-via-position:  ;
  --tw-gradient-to: rgb(255 255 255 / 0)  var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), rgb(255 255 255 / 0.5) var(--tw-gradient-via-position), var(--tw-gradient-to);
  --tw-gradient-to: transparent var(--tw-gradient-to-position);
  --tw-gradient-to-position:  ;
  opacity: 0.5;
  --tw-content: " ";
  content: var(--tw-content);
}

.image-hover-effect-simple:hover{
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}
.image-hover-effect-simple:hover img{
  opacity: 0.5;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}


@media (min-width: 1024px){
  input[type=submit]{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 1.25rem;
  }
}

input.btn-icon-only[type=submit]{
  height: 2.5rem;
  width: 2.5rem;
}

.btn-group input[type=submit]{
  margin-bottom: 0.5rem;
  width: 100%;
}

@media (min-width: 640px){
  .btn-group input[type=submit]{
    width: auto;
  }
}

.container{
  margin-left: auto;
  margin-right: auto;
  max-width: 1536px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.mobile-grid{
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2.5rem;
}

.bb-icon.mobile-grid {
  display: grid;
}

.bb-icon.mobile-grid svg {
  margin: 0;
}

.single-projects .content .mobile-grid.container{
  display: block;
}

@media (min-width: 1280px){
  .mobile-grid{
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 0px;
  }
}

#navmenu_mobile .item_closed .close{
  display: none;
}
#navmenu_mobile .item_closed .open{
  display: block;
}
#navmenu_mobile .item_open .close{
  display: block;
}
#navmenu_mobile .item_open .open{
  display: none;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.4);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.4);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
.heartbeat:hover {
  animation: heartbeat 1.5s infinite;
}

.bb-icon {
  display: inline-block;
}
.bb-icon svg {
  margin-bottom: 0.1em;
}
.bb-icon:not(.bb-icon[class*=icon-]){
  height: 1.75rem;
  width: 1.75rem;
}
.bb-icon:not(.bb-icon[class*=icon-]) svg {
  height: 100%;
  width: 100%;
}
.bb-icon[class*=icon-] svg {
  height: 100%;
  width: 100%;
}
.bb-icon.icon-xs{
  height: 1rem;
  width: 1rem;
}
.bb-icon.icon-sm{
  height: 1.25rem;
  width: 1.25rem;
}
.bb-icon.icon-base{
  height: 1.75rem;
  width: 1.75rem;
}
.bb-icon.icon-lg{
  height: 2rem;
  width: 2rem;
}
.bb-icon.icon-xl{
  height: 2.25rem;
  width: 2.25rem;
}
.bb-icon.icon-xxl{
  height: 3rem;
  width: 3rem;
}
.bb-icon.grid {
  display: grid;
}
.bb-icon.grid svg {
  margin: 0;
}

#navmenu_desktop_dropdown li.current{
  --tw-text-opacity: 1;
  color: rgba(var(--colors-primary-500), var(--tw-text-opacity));
}

#navmenu_desktop_dropdown > div.invisible {
  opacity: 0;
}
#navmenu_desktop_dropdown > div.visible {
  opacity: 1;
  transition: opacity 0.2s;
}

.btn-menu{
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
  background-color: transparent;
  padding: 0.5rem;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  --tw-text-opacity: 1;
  color: rgba(var(--colors-black), var(--tw-text-opacity));
  transition-duration: 100ms;
}

.btn-menu:hover{
  --tw-bg-opacity: 1;
  background-color: rgba(var(--colors-gray), var(--tw-bg-opacity));
}
.btn-menu.current{
  --tw-text-opacity: 1;
  color: rgba(var(--colors-primary-500), var(--tw-text-opacity));
}

.btn-menu-section{
  border-radius: 0.375rem;
  border-style: none;
  background-color: transparent;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  --tw-text-opacity: 1;
  color: rgba(var(--colors-black), var(--tw-text-opacity));
}

.btn-menu-section:hover{
  background-color: transparent;
  --tw-text-opacity: 1;
  color: rgba(var(--colors-primary-800), var(--tw-text-opacity));
}

















@media (min-width: 1024px){
  .bb-responsive-table-block table{
    font-size: 1rem;
  }
}
.bb-responsive-table-block table *{
  margin-bottom: 0px;
  font-size: 0.75rem;
}
@media (min-width: 1024px){
  .bb-responsive-table-block table *{
    font-size: 1rem;
  }
}
.bb-responsive-table-block table th *{
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}
@media (min-width: 768px){
  .md\:aspect-h-3{
    --tw-aspect-h: 3;
  }
  .md\:aspect-w-4{
    position: relative;
    padding-bottom: calc(var(--tw-aspect-h) / var(--tw-aspect-w) * 100%);
    --tw-aspect-w: 4;
  }
  .md\:aspect-w-4 > *{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
.before\:absolute::before{
  content: var(--tw-content);
  position: absolute;
}
.before\:-left-2::before{
  content: var(--tw-content);
  left: -0.5rem;
}
.before\:top-0::before{
  content: var(--tw-content);
  top: 0px;
}
.before\:h-16::before{
  content: var(--tw-content);
  height: 4rem;
}
.before\:w-2::before{
  content: var(--tw-content);
  width: 0.5rem;
}
.before\:bg-primary-600::before{
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgba(var(--colors-primary-600), var(--tw-bg-opacity));
}
.even\:bg-gray:nth-child(even){
  --tw-bg-opacity: 1;
  background-color: rgba(var(--colors-gray), var(--tw-bg-opacity));
}
.hover\:z-20:hover{
  z-index: 20;
}
.hover\:bg-gray:hover{
  --tw-bg-opacity: 1;
  background-color: rgba(var(--colors-gray), var(--tw-bg-opacity));
}
.hover\:text-black:hover{
  --tw-text-opacity: 1;
  color: rgba(var(--colors-black), var(--tw-text-opacity));
}
.hover\:underline:hover{
  text-decoration-line: underline;
}
.hover\:decoration-1:hover{
  text-decoration-thickness: 1px;
}
.hover\:grayscale-0:hover{
  --tw-grayscale: grayscale(0);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.focus\:not-sr-only:focus{
  position: static;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  clip: auto;
  white-space: normal;
}
.focus\:outline-none:focus{
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.focus\:ring-2:focus{
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}
.focus\:ring-focus:focus{
  --tw-ring-opacity: 1;
  --tw-ring-color: rgba(var(--colors-focus), var(--tw-ring-opacity));
}
.focus\:ring-offset-0:focus{
  --tw-ring-offset-width: 0px;
}
@container (min-width: 13.125rem){
  .\@2xs\:block{
    display: block;
  }
}
@container (min-width: 32rem){
  .\@lg\:flex{
    display: flex;
  }
}
@media (min-width: 640px){
  .sm\:order-1{
    order: 1;
  }
  .sm\:order-2{
    order: 2;
  }
  .sm\:order-3{
    order: 3;
  }
  .sm\:mx-0{
    margin-left: 0px;
    margin-right: 0px;
  }
  .sm\:mb-auto{
    margin-bottom: auto;
  }
  .sm\:flex{
    display: flex;
  }
  .sm\:grid{
    display: grid;
  }
  .sm\:hidden{
    display: none;
  }
  .sm\:w-1\/2{
    width: 50%;
  }
  .sm\:w-1\/3{
    width: 33.333333%;
  }
  .sm\:w-full{
    width: 100%;
  }
  .sm\:flex-1{
    flex: 1 1 0%;
  }
  .sm\:grid-cols-2{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .sm\:grid-cols-3{
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .sm\:flex-row{
    flex-direction: row;
  }
  .sm\:items-center{
    align-items: center;
  }
  .sm\:justify-normal{
    justify-content: normal;
  }
  .sm\:justify-start{
    justify-content: flex-start;
  }
  .sm\:justify-end{
    justify-content: flex-end;
  }
  .sm\:justify-center{
    justify-content: center;
  }
  .sm\:justify-between{
    justify-content: space-between;
  }
  .sm\:justify-around{
    justify-content: space-around;
  }
  .sm\:justify-evenly{
    justify-content: space-evenly;
  }
  .sm\:justify-stretch{
    justify-content: stretch;
  }
  .sm\:justify-items-start{
    justify-items: start;
  }
  .sm\:justify-items-end{
    justify-items: end;
  }
  .sm\:justify-items-center{
    justify-items: center;
  }
  .sm\:justify-items-stretch{
    justify-items: stretch;
  }
  .sm\:gap-5{
    gap: 1.25rem;
  }
  .sm\:gap-y-10{
    row-gap: 2.5rem;
  }
  .sm\:space-y-0 > :not([hidden]) ~ :not([hidden]){
    --tw-space-y-reverse: 0;
    margin-top: calc(0px * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0px * var(--tw-space-y-reverse));
  }
  .sm\:space-y-5 > :not([hidden]) ~ :not([hidden]){
    --tw-space-y-reverse: 0;
    margin-top: calc(1.25rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.25rem * var(--tw-space-y-reverse));
  }
  .sm\:divide-x > :not([hidden]) ~ :not([hidden]){
    --tw-divide-x-reverse: 0;
    border-right-width: calc(1px * var(--tw-divide-x-reverse));
    border-left-width: calc(1px * calc(1 - var(--tw-divide-x-reverse)));
  }
  .sm\:divide-y-0 > :not([hidden]) ~ :not([hidden]){
    --tw-divide-y-reverse: 0;
    border-top-width: calc(0px * calc(1 - var(--tw-divide-y-reverse)));
    border-bottom-width: calc(0px * var(--tw-divide-y-reverse));
  }
  .sm\:justify-self-auto{
    justify-self: auto;
  }
  .sm\:justify-self-start{
    justify-self: start;
  }
  .sm\:justify-self-end{
    justify-self: end;
  }
  .sm\:justify-self-center{
    justify-self: center;
  }
  .sm\:justify-self-stretch{
    justify-self: stretch;
  }
  .sm\:text-2xl{
    font-size: 1.5rem;
  }
  .sm\:text-xl{
    font-size: 1.25rem;
  }
}
@media (min-width: 768px){
  .md\:col-span-6{
    grid-column: span 6 / span 6;
  }
  .md\:mb-10{
    margin-bottom: 2.5rem;
  }
  .md\:mb-20{
    margin-bottom: 5rem;
  }
  .md\:block{
    display: block;
  }
  .md\:flex{
    display: flex;
  }
  .md\:grid{
    display: grid;
  }
  .md\:hidden{
    display: none;
  }
  .md\:flex-1{
    flex: 1 1 0%;
  }
  .md\:flex-none{
    flex: none;
  }
  .md\:-translate-x-10{
    --tw-translate-x: -2.5rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  .md\:grid-cols-12{
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
  .md\:grid-cols-2{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .md\:grid-cols-3{
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .md\:flex-row{
    flex-direction: row;
  }
  .md\:flex-wrap{
    flex-wrap: wrap;
  }
  .md\:justify-normal{
    justify-content: normal;
  }
  .md\:justify-start{
    justify-content: flex-start;
  }
  .md\:justify-end{
    justify-content: flex-end;
  }
  .md\:justify-center{
    justify-content: center;
  }
  .md\:justify-between{
    justify-content: space-between;
  }
  .md\:justify-around{
    justify-content: space-around;
  }
  .md\:justify-evenly{
    justify-content: space-evenly;
  }
  .md\:justify-stretch{
    justify-content: stretch;
  }
  .md\:justify-items-start{
    justify-items: start;
  }
  .md\:justify-items-end{
    justify-items: end;
  }
  .md\:justify-items-center{
    justify-items: center;
  }
  .md\:justify-items-stretch{
    justify-items: stretch;
  }
  .md\:space-x-5 > :not([hidden]) ~ :not([hidden]){
    --tw-space-x-reverse: 0;
    margin-right: calc(1.25rem * var(--tw-space-x-reverse));
    margin-left: calc(1.25rem * calc(1 - var(--tw-space-x-reverse)));
  }
  .md\:justify-self-auto{
    justify-self: auto;
  }
  .md\:justify-self-start{
    justify-self: start;
  }
  .md\:justify-self-end{
    justify-self: end;
  }
  .md\:justify-self-center{
    justify-self: center;
  }
  .md\:justify-self-stretch{
    justify-self: stretch;
  }
  .md\:border-r{
    border-right-width: 1px;
  }
  .md\:p-0{
    padding: 0px;
  }
  .md\:px-0{
    padding-left: 0px;
    padding-right: 0px;
  }
  .md\:px-10{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .md\:pb-8{
    padding-bottom: 2rem;
  }
  .md\:pt-0{
    padding-top: 0px;
  }
  .md\:text-3xl{
    font-size: 2rem;
  }
  .md\:text-xl{
    font-size: 1.25rem;
  }
}
@media (min-width: 1024px){
  .lg\:order-2{
    order: 2;
  }
  .lg\:order-3{
    order: 3;
  }
  .lg\:col-span-10{
    grid-column: span 10 / span 10;
  }
  .lg\:col-span-2{
    grid-column: span 2 / span 2;
  }
  .lg\:col-span-3{
    grid-column: span 3 / span 3;
  }
  .lg\:col-span-4{
    grid-column: span 4 / span 4;
  }
  .lg\:col-span-5{
    grid-column: span 5 / span 5;
  }
  .lg\:col-span-6{
    grid-column: span 6 / span 6;
  }
  .lg\:col-span-8{
    grid-column: span 8 / span 8;
  }
  .lg\:col-span-9{
    grid-column: span 9 / span 9;
  }
  .lg\:col-start-2{
    grid-column-start: 2;
  }
  .lg\:col-start-3{
    grid-column-start: 3;
  }
  .lg\:col-start-5{
    grid-column-start: 5;
  }
  .lg\:my-0{
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .lg\:mb-0{
    margin-bottom: 0px;
  }
  .lg\:mb-10{
    margin-bottom: 2.5rem;
  }
  .lg\:mb-20{
    margin-bottom: 5rem;
  }
  .lg\:mb-5{
    margin-bottom: 1.25rem;
  }
  .lg\:mt-10{
    margin-top: 2.5rem;
  }
  .lg\:flex{
    display: flex;
  }
  .lg\:grid{
    display: grid;
  }
  .lg\:hidden{
    display: none;
  }
  .lg\:h-10{
    height: 2.5rem;
  }
  .lg\:h-20{
    height: 5rem;
  }
  .lg\:h-24{
    height: 6rem;
  }
  .lg\:h-4{
    height: 1rem;
  }
  .lg\:h-40{
    height: 10rem;
  }
  .lg\:h-6{
    height: 1.5rem;
  }
  .lg\:w-1\/3{
    width: 33.333333%;
  }
  .lg\:flex-1{
    flex: 1 1 0%;
  }
  .lg\:flex-none{
    flex: none;
  }
  .lg\:basis-1\/2{
    flex-basis: 50%;
  }
  .lg\:basis-1\/3{
    flex-basis: 33.333333%;
  }
  .lg\:basis-2\/3{
    flex-basis: 66.666667%;
  }
  .lg\:grid-cols-12{
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
  .lg\:grid-cols-2{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .lg\:grid-cols-3{
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .lg\:grid-cols-4{
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .lg\:grid-cols-5{
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  .lg\:grid-cols-6{
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
  .lg\:flex-row{
    flex-direction: row;
  }
  .lg\:items-center{
    align-items: center;
  }
  .lg\:justify-normal{
    justify-content: normal;
  }
  .lg\:justify-start{
    justify-content: flex-start;
  }
  .lg\:justify-end{
    justify-content: flex-end;
  }
  .lg\:justify-center{
    justify-content: center;
  }
  .lg\:justify-between{
    justify-content: space-between;
  }
  .lg\:justify-around{
    justify-content: space-around;
  }
  .lg\:justify-evenly{
    justify-content: space-evenly;
  }
  .lg\:justify-stretch{
    justify-content: stretch;
  }
  .lg\:justify-items-start{
    justify-items: start;
  }
  .lg\:justify-items-end{
    justify-items: end;
  }
  .lg\:justify-items-center{
    justify-items: center;
  }
  .lg\:justify-items-stretch{
    justify-items: stretch;
  }
  .lg\:gap-1{
    gap: 0.25rem;
  }
  .lg\:gap-10{
    gap: 2.5rem;
  }
  .lg\:gap-5{
    gap: 1.25rem;
  }
  .lg\:space-y-10 > :not([hidden]) ~ :not([hidden]){
    --tw-space-y-reverse: 0;
    margin-top: calc(2.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(2.5rem * var(--tw-space-y-reverse));
  }
  .lg\:self-center{
    align-self: center;
  }
  .lg\:justify-self-auto{
    justify-self: auto;
  }
  .lg\:justify-self-start{
    justify-self: start;
  }
  .lg\:justify-self-end{
    justify-self: end;
  }
  .lg\:justify-self-center{
    justify-self: center;
  }
  .lg\:justify-self-stretch{
    justify-self: stretch;
  }
  .lg\:p-5{
    padding: 1.25rem;
  }
  .lg\:py-0{
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .lg\:py-10{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  .lg\:py-3{
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
  .lg\:text-2xl{
    font-size: 1.5rem;
  }
  .lg\:text-3xl{
    font-size: 2rem;
  }
  .lg\:text-5xl{
    font-size: 3.5rem;
  }
  .lg\:text-base{
    font-size: 1rem;
  }
  .lg\:text-xl{
    font-size: 1.25rem;
  }
}
@media (min-width: 1280px){
  .xl\:grid-cols-3{
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .xl\:grid-cols-4{
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .xl\:justify-end{
    justify-content: flex-end;
  }
  .xl\:gap-20{
    gap: 5rem;
  }
}
/*# sourceMappingURL=site.css.map */
